@use '../abstracts/colors' as CLR;

.vertical-line {
    display: inline-block;
    width: 2px;
    background-color: CLR.$line-color;
    margin: 0 10px;
}

.horizontal-line {
    display: inline-block;
    height: 2px;
    // width: 100%;
    background-color: CLR.$line-color;
    margin: 0 10px;
}