@use '../abstracts/colors' as CLR;


$border-width: 2px;
$tweet-padding: 10px 20px;
$tweet-image-profile-size: 55px;
$tweet-image-profile-size-small: 37px;
$tweet-gap-bt-left-right: 8px;

$gap-between-profile-and-vertical-line: 5px;
$publication-margin-right: 20px;

$text-small: 12px;
$text-medium: 14px;
$text-large: 16px;

.tweet {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid CLR.$line-color;
    gap: 5px;
    padding: $tweet-padding;

    .tweet-header {
        display: flex;
        align-items: center;
        gap: $tweet-gap-bt-left-right;

        .tweet-size-left {
            display: flex;
            justify-content: flex-end;
        }
        


        p.tweet-size-right {
            color: CLR.$text-secondary-color;
            font-size: 14px;
        }
    }

    .tweet-content {
        display: flex;
        gap: $tweet-gap-bt-left-right;

        .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gap-between-profile-and-vertical-line;

            .tweet-image-profile {
                width: $tweet-image-profile-size;
                height: $tweet-image-profile-size;
            }

            .vertical-line {
                flex-grow: 1;
            }

        }

        .publication {
            .top-bar {
                display: flex;
                justify-content: space-between;

                .title {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: CLR.$text-secondary-color;

                    .user-name {
                        font-weight: bold;
                        color: CLR.$text-primary-color;
                    }

                    .user-id {
                        color: CLR.$text-secondary-color;
                    }

                    .user-post-time {
                        color: CLR.$text-secondary-color;
                    }
                }
            }

            .publication-text {
                font-size: 16px;
                line-height: 20.5px;
                margin-right: $publication-margin-right;
                white-space: pre-line;
            }

            .actionButtons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: $publication-margin-right;
                max-width: 300px;
                margin-top: 10px;

                .iconButton {
                    display: flex;
                    align-items: center;
                    gap: 3.5px;

                    p {
                        font-size: $text-small;
                        color: CLR.$text-secondary-color;
                    }
                }
            }
        }
    }

    .tweet-footer {
        display: flex;
        align-items: center;
        gap: $tweet-gap-bt-left-right;

        .tweet-image-profile-small {
            width: $tweet-image-profile-size-small;
            height: $tweet-image-profile-size-small;
        }
    }


    // General
    .tweet-size-left {
        flex: 10%;
        min-width: $tweet-image-profile-size;
    }

    .tweet-size-right {
        flex: 90%;
    }


}