@use '../abstracts/colors' as CLR;

$typography: "sf-pro-text";

*,
body {
    font-family: $typography, sans-serif;
    color: CLR.$text-primary-color;
}

.accent-color {
    color: CLR.$accent-color;
}